<h2>New Ideas</h2>
<p>Use this form to add your ideas to our database.</p>
<div class="container" style="padding:2px 14px;margin-left:18px;margin-right:auto;width:75%;text-align:left;">
  <div class="row">
      <form action="/create_idea">
        <input type="text" name="name" placeholder="Idea Name">
        <input type="text" name="description" placeholder="Description">
        <input type="submit">
      </form>
  </div>
</div>
  