<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Share your thoughts!</h2>
      <p>Use this form to add your ideas to the Idea Notebook.</p>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption"><%=@idea_name %></div>
      </div>
      <a href="">edit</a>|<a href="">delete</a>
    </div>
</div>